
{
	"urlAPI":"http://_MY_WEBSITE/_MY_API_",
	"urlPics":"http://_MY_WEBSITE/_MY_PICS_DIR",
	"classes":
	[{"name":"velo","category":"bicyclettes", "keyword":"vélo"},
	{"name":"electromenager","category":"electromenager", "keyword":"frigo"}]
}